*.pyc
*.nsp
*.xci
*.nca
*.tik
*.cert
*.cnmt.nca
*.cnmt.xml
*.nsz
*.xcz
*.ncz
*.keys
*keys.txt
.vscode/
ROMs/
build/
dist/
nsz/__init__.dist/
nsz/__init__.build
nsz_win64_portable/
nsz.egg-info/
nsz.build/
nsz.dist/
nsz/gui/gui.ini
normal
logo
update
secure
titlekeys.txt
titledb/
*.7z
* - Copy*
*_.*
*_
