pycryptodome>=3.9.0
zstandard
enlighten
pywin32;platform_system == "Windows"
pypiwin32;platform_system == "Windows"
docutils
pygments
kivy.deps.sdl2
kivy.deps.glew
kivy[base] --pre --extra-index-url https://kivy.org/downloads/simple/
